<form [formGroup]="postForm">
  <input type="hidden" formControlName="id">
  <div class="form-group" >
    <!--<label>Title</label>-->
    <label [translate]="'title'"></label>
    <input type="text" class="form-control" formControlName="title" >
  </div>
  <div class="form-group">
  <!--<label>Body</label>-->
  <label [translate]="'body'"></label>
    <textarea class="form-control" formControlName="body"></textarea>
  </div>
  <div class="form-group">
    <!--<label>Date</label>-->
    <label [translate]="'date'"></label>
    <input type="date" formControlName="date">
  </div>
  <button type="submit" class="btn btn-primary" [translate]="'submit'" (click)="onSubmit($event)"></button>
</form>
<div>{{postForm.getRawValue() | json }}</div>
