@import '../../../scss/clean-blog';
.post-preview {
  color: $gray-900;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}
.post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
