<!--
<li class="nav-item">
  <a class="nav-link" href="src/index.html">Home</a>
</li>
<li class="nav-item">
  &lt;!&ndash;<a class="nav-link" href="about.html">About</a>&ndash;&gt;
  <a class="nav-link" href="https://www.google.ru/">About</a>
</li>
<li class="nav-item">
  &lt;!&ndash;<a class="nav-link" href="post.html">Sample Post</a>&ndash;&gt;
  <a class="nav-link" href="https://www.google.ru/">Sample Post</a>
</li>
<li class="nav-item">
  &lt;!&ndash;<a class="nav-link" href="contact.html">Contact</a>&ndash;&gt;
  <a class="nav-link" href="https://www.google.ru/">Contact</a>
</li>
-->
