<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <header></header>
    <a href="#"><img routerLink="logo" src="assets/img/images.jpg"> <h1>TelRan & Deutschland</h1>
   </a>

  <div class="collapse navbar-collapse">
  <ul class="navbar-nav ml-auto">
    <button><li><a routerLink="/teams" class="nav-link"> Teams</a></li></button>
    <button><li><a routerLink="/schedule" class="nav-link"> Schedule</a> </li></button>

  </ul>
    </div>
  </div>
</nav>

