<p> Author</p>
<form [formGroup]="authorForm">
  <input type="hidden" formControlName="id">
  <div class="form-group">
    <label>First name</label>
    <input class="form-control" type="text" formControlName="firstName">
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input class="form-control" type="text" formControlName="lastName">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit($event)">Submit</button>
</form>
<div>{{authorForm.getRawValue() | json }}</div>
