<div>{{ 'hello_world' | translate }}</div>
<form [formGroup]="authorForm">
  <input type="hidden" formControlName="id">
  <div class="form-group" >
    <label [translate]="'first_name'"></label>
    <input type="text" class="form-control" formControlName="firstName">
    <div>{{authorForm.controls['firstName'].errors | json}}</div>
    <app-validation-errors
      [control]="getControl('firstName')"
      [translations]="getErrorTranslations()"
    >
    </app-validation-errors>
  </div>
  <div class="form-group" >
    <label translate >last_name</label>
    <input type="text" class="form-control" formControlName="lastName" >
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit($event)">Submit</button>
</form>
<div>{{authorForm.getRawValue() | json }}</div>
<div>Dirty:{{authorForm.controls['firstName'].dirty}}</div>
<div>Pristine: {{authorForm.controls['firstName'].pristine}}</div>
<div>Touched: {{authorForm.controls['firstName'].touched}}</div>
<div>Valid: {{authorForm.controls['firstName'].valid}}</div>
<div>Validation errors: {{authorForm.controls['firstName'].errors | json}}</div>
<div>{{authorForm.controls['lastName'].value}}</div>

