/*.banner {
	margin: -8px -8px 0 -8px;
	height: 100px;
	overflow: hidden;
}
.banner img {
	height: auto;
	width: 100%;
}*/

.banner {
	height: 100px;
	background-image: url('banner.jpg');
	margin-bottom: 20px;
	line-height: 100px;
}

.banner img {
	height: auto;
	width: 100%;
}

.banner h1 {
	font-family: Calibri;
	font-size: 30px;
	color: red;
}

div.article-digest img {
    max-width: 500px;
}

#titleHelp {
	display: none;
}

.alert {
	display: none;
}
