<!--
{
  "required": true,
  "minlength": {
    "requiredLength": 3,
    "actualLength": 1
  }
}-->


<div *ngIf="!control.valid && (control.dirty || control.touched)"
     class="alert alert-danger">
  <div>{{ control.errors | json }}</div>
  <div>{{ errors() | json }}</div>
  <div *ngFor="let error of errors()">
    {{ translations[error.name]}}
  </div>
  <!--<div *ngIf="control.errors['required']">
    This field is required
  </div>
  <div *ngIf="control.errors['minlength']">
    Minimum length must be {{control.errors['minlength']['requiredLength']}}
  </div>-->
</div>

